@import url(root.css);

/*=== FONT FAMILY ==*/

.font-1 {
    font-family: var(--font-Bebas);
}


/*=== BUTTON & LINK(anchor)===*/

.btn-1 {
    border-radius: 36px;
    background-color: var(--green-soil);
}

.btn-2 {
    border-radius: 36px;
    background-color: var(--green-voilet-1);
}

.btn-3 {
    border-radius: 36px;
    background-color: var(--white);
}


/*=== COLOR & BG COLOR===*/

.bg-green-voilet-1 {
    background-color: var(--green-voilet-1);
}

.bg-green-soil {
    background-color: var(--green-soil);
}

.bg-purple {
    background-color: var(--purple);
}

.bg-green-voilet {
    background-color: var(--green-voilet);
}

.color-green-voilet-1 {
    color: var(--green-voilet-1);
}

.color-green-soil {
    color: var(--green-soil) !important;
}

.color-grey {
    color: var(--grey);
}

.color-grey-dark {
    color: var(--grey-dark);
}


/*=== FONT-SIZE ===*/

.fs-11 {
    font-size: 11px
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}


/*=== Font Weight ===*/

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}


/*====BORDER- RADIUS ===*/

.rounded-32 {
    border-radius: 2rem;
}

.rounded-16 {
    border-radius: 1rem;
}


/*=== BOX- SHADOW & FILTER*/

.box-shadow-1 {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.field-shadow {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}


/*=== LINE HEIGHT ==*/

.lh-normal {
    line-height: normal;
}

.lh--9 {
    line-height: 0.9;
}

.lh-2 {
    line-height: 2;
}